body {
    font-family: sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

svg {
    background-color: antiquewhite;
}

rect {
    stroke: darkred;
    stroke-width: 2;
}

div.command {
    padding: 1em;

    button {
        padding: 0.5em 1em;
        cursor: pointer;
    }
}